.albums_container{
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
}

.photos_list{
  padding-top: 1em;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1em;
}