.albums_container{
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  max-height: 93vh;
}

.albums_header{
  display: flex;
  justify-content: flex-start;
}

.albums_list{
  padding-top: 1em;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1em;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
  padding: 0 1em 5em 1em;
  max-height: 93vh;
}

.albums_list::-webkit-scrollbar {
  display: none;
}

.albums_list li {
  box-shadow: 0px 4px 10px rgba(128, 128, 128, .25);
  border-radius: .5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.albums_list li p {
  text-transform: capitalize;
}

.albums_list li div {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}