.albums_container{
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
}

.albums_header{
  display: flex;
  justify-content: flex-start;
}

.albums_list{
  padding-top: 1em;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1.5em;
}

.albums_list li {
  box-shadow: 0px 4px 10px rgba(128, 128, 128, .5);
  border-radius: .5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.albums_list li p {
  text-transform: capitalize;
}

.albums_list li div {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}