.header_container{
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 111;
}

.header_wrapper {
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  padding: 2em 0 0 0;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.header_wrapper .header_logo h1{
  font-size: 16px;
  text-transform: uppercase;
}

.header_wrapper .header_logo span{
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .02em;
}

.header_wrapper button{
  position: absolute;
  right: 0;
}

.header_sub{
  font-size: 14px;
  font-weight: bold;
  color: #666;
}