.thumbnail_wrapper{
    height: 100%;
    width: 100%;
}

.thumbnail_img_wrapper{
    height: auto;
}

.thumbnail_img_wrapper img{
    width: 100%;
    height: auto;
    border-radius: 1em;
    box-shadow: 0px 4px 10px rgba(128, 128, 128, .25);
}

.thumbnail_info{
    height: 15%;
}