.thumbnail_wrapper{
    height: 100%;
    width: 100%;
}
.thumbnail_img_wrapper{
    height: auto;
}

.thumbnail_img_wrapper img{
    width: 100%;
    height: auto;
}

.thumbnail_info{
    height: 15%;
}