main {
  height: 100%;
  position: relative;
}

.users_list {
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1.5em;
}

.users_list li {
  height: auto;
}
