main {
  max-height: 93vh;
  position: relative;
  padding-top: 2em;
}

.users_list {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
  overflow-y: scroll;
  max-height: 93vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  padding: 0 1em 5em 1em;
}

.users_list::-webkit-scrollbar {
  display: none;
}

.users_list li {
  height: auto;
}
